<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
   
    <h1>{{instance.title}}</h1>
    <p>{{instance.content}}</p>
    <p>{{instance.updated}}</p>
    <p>{{instance.timestamp}}</p>
    <p>{{instance.id}}</p>    

</body>
</html>